@charset "UTF-8";

body {
    background-color: #13152A;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

main {
    text-align: center;
}

img#logo {
    width: 200px;
    height: 200px;
}

div {
    font-size: 2em;
}

div#cabecalho {
    display: inline-block;
    margin-top: -50px;
    margin-left: -50px;
}

div#cabecalho > img#estrela {
    width: 100px;
    height: 50px;
    margin-bottom: -10px;
} 

div#cabecalho > p {
    display: inline-block;
    padding: 10px;
    margin-left: -37px;
    margin-right: 70px;
}

section > div.add-edit{
    display: inline-block;
    margin-right: 200px;
    font-size: 1.3em;
}

section > div#voltar {
    display: inline-block;
}

button {
    background-color: #AA33B5;
    border-radius: 5px;
    color: white;
    font-size: 0.5em;
    padding: 6px;
    border: none;
}

button#cinza {
    background-color: gray;
    border-radius: 5px;
    color: white;
    font-size: 0.5em;
    padding: 5px;
    border: none;
    font-size: 0.5em;
}

button:hover {
    background-color: #13152A;
    transition: 0.5s;
}

div#tokens {
    display: inline-block;
}

div#balance {
    display: inline-block;
    margin-left: 200px;
    text-align: right;
}

p.pequeno {
    font-size: 0.5em;
    text-align: right;
}

.editar {
    height: 20px;
    width: 20px;

}

section#formulario > form {
    margin-top: 20px;
    margin-left: -230px;
    padding: 10px;
}

form > input {
    padding: 8px;
    border-radius: 7px;
    border: none;
    width: 410px;
    margin-top: 10px;
    margin-left: 250px;
    margin-bottom: 20px;
}

form#token-form > label {
    font-size: 1em;
    margin-right: 110px;
    
}

button#salvar {
    font-size: 1em;
    padding: 10px;
    margin-top: 30px;
    margin-left: 220px;
}

button#remove {
    background-color: red;
    font-size: 1em;
    margin-left: 253px;
    margin-right: 50px;
}